/* Variables */
:root {
    --main-color: #C3E2CA;
    --secondary-color:  #587D9E;
    --main-text-color: #494E5E;
}

/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    color: var(--main-text-color);
  }

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

  /* Style d'en-tête */
  header {
    background-color: var(--secondary-color);
    color: var(--main-text-color);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 3vh;
  }

  header h1 {
    margin: 0;
  }

  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    margin-left: 20px;
  }

  nav li:first-child {
    margin-left: 0;
  }

  nav a {
    color: var(--main-text-color);
    text-decoration: none;
  }


  /* Style de chaque section */
  section {
    margin: 2vh auto;
    width:fit-content;
  }

  section h2 {
    margin-bottom: 20px;
  }

  section ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  section li {
    margin-bottom: 20px;
  }

  section h3 {
    margin: 0;
  }

  section p {
    margin: 0;
  }

  section em {
    font-style: italic;
  }

  /* Style de la section des compétences */
  #competences ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #333;
  }

  #competences li {
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }

  /* Style du pied de page */
  footer {
    background-color: var(--secondary-color);
    color: var(--main-text-color);
    padding: 20px;
    text-align: center;
    height: 3vh;
  }

  footer p {
    margin: 0;
  }

  footer a {
    color: var(--main-text-color);
    text-decoration: none;
  }

  /* Style des liens */
  a {
    color: #333;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  /* Style de l'image */
  img {
    max-width: 40%;
  }

/* Pour les appareils mobiles avec une largeur maximale de 767px */
@media only screen and (max-width: 767px) {
  img {
    max-width: 99vw;
  }
}

/* Pour les tablettes avec une largeur minimale de 768px et une largeur maximale de 1023px */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  img {
    max-width: 99vw;
  }
}

/* Pour les ordinateurs de bureau avec une largeur minimale de 1024px */
@media only screen and (min-width: 1024px) {
  img {
    max-width: 99vw;
  }
}
